<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns = "http://www.w3.org/1999/xhtml">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>
                    <a th:href ="@{/registro}">Crear Persona</a>
                    <br/>
                    <div th:if = "${usuarios != null and !usuarios.empty}">
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Direccion</th>
                                    <th>Contraseña</th>
                                    <th>Email</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="usuarios: ${usuarios}">
                                    <td th:text= "${usuarios.nomUsuario}">Mostrar Nombre</td>
                                    <td th:text= "${usuarios.apellidoUsuario}">Mostrar Apellido</td>
                                    <td th:text= "${usuarios.direUsuario}">Mostrar Direccion</td>
                                    <td th:text= "${usuarios.passUsuario}">Mostrar Contraseña</td>                    
                                    <td th:text= "${usuarios.emailUsuario}">Mostrar Email</td>                    
                                    <td> <a th:href= "@{/editar/} + ${usuarios.idUsuario}" th:text="Editar"/></td>                    
                                    <td> <a th:href= "@{/eliminar (idUsuario = ${usuarios.idUsuario})} " th:text="Eliminar"/></td>                    
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div th:if="${usuarios ==null or usuarios.empty}">
                        La lista esta vacia            
                    </div>



                </body>
                </html>
